html {
  font-size: 16px;
  background: #fff;
  font-family: 'Titillium Web', sans-serif;
}
body {
	font-size: 16px;
}
input[type="text"], input[type="password"] {
  padding: 8px 0px 8px 7px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.whiterow20{
  height: 20px;
}
.navbar{
	font-size: 14px;
      position: relative;
    min-height: 1px
}
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
.banner img {
    margin-top: 0px;
    display: block;
    max-width:100%;
    max-height:669px;
    width: auto;
    height: auto;
}
.hidden{
  display: none;
}
.wrap {
    /* force the div to properly contain the floated images: */
    position:relative;
    float:left;
    clear:none;
    overflow:hidden;
  }
  .wrap img {
    position:relative;
    z-index:1;
  }
  .wrap .desc {
    color: white;
    display:block;
    position:absolute;
    top:20%;
    left:65%;
    z-index:2;
    text-align:center;
  }
  .desc{
    width:30%;
  }
  .desc h4{
    color:#192929;
    line-height: 1.225;
    font-style: italic;
  }
  .desc h2{
    padding: 20px 0;
    width: 100%;
    /*font-size: 2.875em;*/
    font-size: 2.2vw;
    background-color: #192929;
  }
.red-button{
  border:none;
  line-height: 1;
  height: 40px;
  margin-top: 10px;
  background-color: #ea6060;
  color: white;
  border-radius: 3px;
}
.blue-button{
  border:none;
  line-height: 1;
  height: 40px;
  margin-top: 10px;
  background-color: #39a;
  color: white;
  border-radius: 3px;
}

.ads-front {
  margin-bottom: 40px;
  /*min-height: 180px!important;*/
  /*max-height: 260px;*/
  text-overflow: ellipsis; 
  word-wrap: break-word;
  overflow: hidden;
}
.ads-front h2{
  font-size: 1.85em;
  

}
.ads-front p {
  height: 110px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ads-front a{
  text-decoration: none;
  color: white;
  padding: 0px;
  padding-top: 7px;
  height: 100%;
}
.ads-front button {
  padding:0px;
}
.ads-front-container{

}
.ads-front:nth-of-type(odd){

}
.red-button-front{
  margin-left: 10px;
  height: 30px;
}
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*FORM STYLE*/
.form-horizontal{
  font-size: 1.2em;
  min-width: 480px;
}
legend{
font-weight: 700;
}
.f {
  display: inline-block!important;
}
input[type="file"]{
  font-size: 0.9em;
}
form div{
  margin-bottom: 20px;
}
.radio{
  margin-right: 10px;
  border: 1px solid black;
  font-weight: 400;
  padding: 5px!important;
}
.mandatory{
  color: red;
  font-size: 1.2em;
}
.active-checkbox{
  background-color: #39b1cc;
}
.control-label {
  font-size: 1em;
  margin-bottom: 5px!important;
}
.login-html{
  background-color: #f8f8f8;
}
.login-html body{
  background-color: #f8f8f8;
}
.login-inputs .control-label{
  font-size: 1em;
  font-weight: 400;
}
.login-FormContainer{
  background-color: #fff;
}
.login-logo{
  min-height: 48px;
  margin: 20px 0px;
}
.login-inputs{
  border-right:4px solid #f8f8f8;
}
.login-regRedirect{
  border-left:4px solid #f8f8f8;
  height: 270px;

}
.controls img{
  font-size: 1.2em;
  display: block;
  padding: 0;
}
.login-regRedirect div{
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.login-inputs input[type="submit"]{
  margin-bottom: 20px;
}
#user-profile-options{
  z-index: 10;
  height: 150px;
  width: 150px;
  background-color: red;
}
.profile-form .controls{
  display: inline;
}

#mainForm label{
  padding-top: 0px;
}
.radio-tags label:hover{
  cursor: pointer;
}
.tag-container label{
  margin-bottom: 15px!important;
}
.tag-container{
  margin-bottom: 0px!important;
}
.edit-text {
  min-height: 25px; 
}
.profile-form legend {
  font-size: 1.4em;
  padding: 10px;
}
.tag-selector{
  padding-left: 45px;
}
.site-title{
  position: absolute!important;
  font-size: 18px!important;
  left: 40px;
  color: white;
}
.site-title:hover{
  cursor: pointer;
}
.ads-front>h3>span {
  font-size: 0.8em;
}
.ads-front>h3>a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.ads-front>h2{
  margin-bottom: 0px;
}
@media (max-width: 992px){
    .login-regRedirect div{
      text-align: left;
    }
    .login-regRedirect, .login-inputs{
    border: 0px solid black;
  }
  .login-regRedirect{
    display: none;
  }
}
@media (max-width: 767px){ /*col-xs*/
  .ads-front p{
    height: auto;
  }
}
@media (min-width: 768px){ /*col-sm*/

}
@media (min-width: 992px){ /*col-md*/
  .ads-front>h2{
    font-size: 2.2vw;
  }

}
@media (min-width: 1200px){/*col-lg*/
  .desc {
    width: 20%;
    font-size: inherit!important;
    top: 30%;
  }
}
@media (max-width: 900px){/*col-lg*/
  .desc h2{
    display: none;
  }
  .desc h4{
    font-size: 1.2vw;
  }
    .desc h2{
    font-size: 3vw;
  }
  .desc{
    top:30%!important;
  }
}

