html {
  font-size: 16px;
  background: #fff;
  height: 1500px; /*DELETE*/
  font-family: 'Titillium Web', sans-serif;
}
body {
	
}
.whiterow20{
  height: 20px;
}
.navbar{
	font-size: 14px;
      position: relative;
    min-height: 1px
}
.container {
  position: relative;
  margin: 0 auto;
  width: 94%;
  max-width: 1100px;
  font-family: helvetica, sans-serif;
}
.content {
  position: relative;
  padding-top: 80px;
}
.content p {
  margin-bottom: 10px;
}
.banner img {
    margin-top: 59px;
    display: block;
    max-width:100%;
    max-height:669px;
    width: auto;
    height: auto;
}
.wrap {
    /* force the div to properly contain the floated images: */
    position:relative;
    float:left;
    clear:none;
    overflow:hidden;
  }
  .wrap img {
    position:relative;
    z-index:1;
  }
  .wrap .desc {
      color: white;
    display:block;
    position:absolute;
    top:20%;
    left:65%;
    z-index:2;
    text-align:center;
  }
  .desc{
    width: 25%;
  }
  .desc h4{
    color:#192929;
    line-height: 1.225;
    font-style: italic;
  }
  .desc h2{
    font-size: 3vw;
    padding: 20px 0;
    width: 100%;
    background-color: #192929;
  }
.red-button{
  border:none;
  line-height: 1;
  height: 40px;
  margin-top: 10px;
  background-color: #ea6060;
}
.ads-front {
  margin-bottom: 10px;
  height: 80px;
  background-color: black;
}
.ads-front-container{
  background-color: blue;
}
.ads-front:nth-of-type(odd){
  background-color: red;
};